.form-container {
    margin: auto;
    width: 785px;
    height: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    width: 100px;
  }

  
  input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .image-upload {
    margin-top: 15px;
    text-align: center;
    width: 370px;
  }
  
  .image-preview img {
    border-radius: 5px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
  }
  
  button {
    display: block;
    width: 15%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 70px
  }
  
  button:hover {
    background-color: #0056b3;
  }