<div class="pawn-content-flex">
  <div class="btn-create-form">
    <button type="submit" (click)="onSubmit()">Save Form <mat-icon>save_alt</mat-icon></button>
</div>


<div class="form-container">
  
    <h2>ទម្រង់បញ្ចាំទ្រព្យ</h2>
    <form [formGroup]="pawnForm" >
      <div class="form-grid">
        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="First name, Last name" formControlName="fullName" required>
            <mat-error *ngIf="
            pawnForm.controls['fullName'].hasError('required')
          ">
              Please enter your name.
          </mat-error>
          </mat-form-field>
          <!-- <label>Full Name</label>
          <input type="text" formControlName="fullName"> -->
        </div>
  
        <div>
          
          <mat-form-field appearance="outline">
            <mat-label>
                ភេទ
            </mat-label>

            <input type="text" aria-label="Text" matInput formControlName="gender" required
                [matAutocomplete]="AutoGender" />
            <mat-autocomplete #AutoGender="matAutocomplete" [displayWith]="displayGender" >
              
                @for(item of genders(); track item){
                <mat-option [value]="item">
                    {{ item.text }}
                </mat-option>
                }
            </mat-autocomplete>
            <mat-error *ngIf="
              pawnForm.controls['gender'].hasError('required')
            ">
              Please select your gender.

            </mat-error>
            <mat-error *ngIf="
              pawnForm.controls['gender'].hasError('validKey')
            ">
                Please select from list
            </mat-error>
        </mat-form-field>

        </div>
        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Enter Your Phone Number" formControlName="phone" type="number" required>
            <mat-error *ngIf="
              pawnForm.controls['phone'].hasError('required')">
              Please enter a valid phone number.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>ID Card Number</mat-label>
            <input matInput placeholder="Enter Your ID Card Number" formControlName="idCard" type="number" required>
            <mat-error *ngIf="
            pawnForm.controls['idCard'].hasError('required')">
              Please enter a valid ID Card Number (numbers only).
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Enter Your Address" formControlName="address">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Pawn Item</mat-label>

            <input matInput placeholder="Enter Your Pawn Item" formControlName="pawnItem" required 
            [matAutocomplete]="AutoItem" />
        <mat-autocomplete #AutoItem="matAutocomplete" [displayWith]="displayItem" >
          
            @for(item of pawnItem(); track item){
            <mat-option [value]="item" (click)="selectItem(item)">
                {{ item.text }}
            </mat-option>
            }
        </mat-autocomplete>
            <mat-error *ngIf="
            pawnForm.controls['pawnItem'].hasError('required')
          ">
              Please enter your Pawn Items .
          </mat-error>
        </mat-form-field>
        </div>
        @if(seleted()?.key == 0){
          <div>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>car</mat-label>
              <input matInput placeholder="car" formControlName="car" type="text" required>
              <mat-error *ngIf="
                pawnForm.controls['car'].hasError('required')">
                Please enter a valid phone number.
              </mat-error>
            </mat-form-field>
          </div>  
        }@else if(seleted()?.key == 1){
          <div>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>phone</mat-label>
              <input matInput placeholder="phone" formControlName="phone" type="text" required>
              <mat-error *ngIf="
                pawnForm.controls['phone'].hasError('required')">
                Please enter a valid phone number.
              </mat-error>
            </mat-form-field>
          </div>  
        }


        <div class="date-picker">

          <mat-form-field appearance="outline">
            <mat-label>Date Created</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="dateCreated" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Date Expired</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="dateExpired" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="description-form">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Write More Info About Item" formControlName="description"></textarea>
          </mat-form-field>
          </div>

       
        <!-- <mat-form-field appearance="outline" class="example-full-width">
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
           
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          
          </mat-date-range-input>
          <mat-hint>  MM / DD / YYYY - MM / DD / YYYY </mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        
          @if (range.controls.start.hasError('matStartDateInvalid')) {
            <mat-error>Invalid start date</mat-error>
          }
          @if (range.controls.end.hasError('matEndDateInvalid')) {
            <mat-error>Invalid end date</mat-error>
          }
        </mat-form-field> -->
        <!-- <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateCreated">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->


        
      </div>
      <div class="image-upload">
        <label>Upload Image</label>
        <input type="file" (change)="onImageUpload($event)" accept="image/*">
        <div class="image-preview" *ngIf="imagePreview">
          <img [src]="imagePreview" alt="Preview">
        </div>
      </div>
    </form>
  </div>
</div>
