// .pawn-content-flex{
//   // display: flex;
//   //   flex-direction: column;
//   //   align-items: flex-end;
// }

.btn-create-form{
  display: flex;
    width: 99%;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    padding-inline: 10px;
    margin-inline: 10px;
    margin-top: 5px;
  button{
    width: 115px;
  }
}
.layout-form{
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 158px);
  overflow: auto;
  padding: 8px;
}
.form-container {
  font-family: "Koh Santepheap", serif;
    margin: auto;
    width: 850px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -4px;
  }

  .btn-button-form{
    display: flex;
    gap: 5px;
  }

  .btn-save{
    background-color: #1a73e8
  }

  .btn-edit{
    background-color: #36b38f;
  }
  .btn-delete{
    background-color: crimson;
  }

  .btn-edit:hover{
    background-color: #24755e;
  }
  .btn-delete:hover{
    background-color: rgb(141, 13, 39);
  }
  
  h1 {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    top: 8px;
  }
  
  
  label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    width: 785px;
    justify-content: space-between;
    
  }

  
  input, select, textarea {
    font-family: "Koh Santepheap", serif;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    
    resize: vertical;
  }
  
  .image-upload {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    flex-direction: column;
  }
  
  .image-preview img {
    border-radius: 5px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
  }
  
  button {
    display: flex;
    width: 20%;
        padding: 10px;
        background-color: #1a73e8;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        margin-top: 0px;
        align-items: center;
        justify-content: space-evenly;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    height: 30px;
    input{
      height: 20px;
    }
  }

  ::ng-deep .mat-mdc-form-field-infix {
  flex: auto;
  min-width: 0;
  max-height: 135px;
  width: 220px !important;
  position: relative;
  box-sizing: border-box;
}
.custome-input{
  width: 70%;
  border-bottom: 1px dotted #000;
  border-radius: 0 !important;
  font-size: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-inline: 10px;
}

.custome-input-date-expire{
  width: 40%;
  border-bottom: 1px dotted #000;
  border-radius: 0 !important;
  font-size: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-inline: 10px
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;

  .upload-label {
    display: inline-block;
    cursor: pointer;

    .upload-box {
      background: #007bff;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      transition: 0.3s;
    }

    .upload-box:hover {
      background: #0056b3;
    }
  }

  .preview-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #007bff;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;

    .preview-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.image-preview {
  display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.form-grid {
  gap: 10px;
  flex-direction: column;
  padding-top: 15px;
  padding-inline: 10px
}

.form-customer{
  display: flex;
    gap: 40px;
    border-top: solid 1px;
    padding-top: 25px;
    padding-bottom: 40px;
    flex-direction: column
}

.form-pawn{
  display: flex;
    gap: 40px;
    border-top: solid 1px;
    padding-top: 25px;
    padding-bottom: 40px;
    flex-direction: column
}

.description-form{

  width: 70%;
    border-bottom: 1px dotted #000;
    border-radius: 0 !important;
    font-size: 16px;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-inline: 10px;
    padding-bottom: 22px;

}

.date-picker{
  display: flex;
    padding-right: 355px;
    align-items: center;
}

.input-error{
  color: crimson;
}

.upload-image {
  width: 790px;
    height: 250px;
    border: 2px dashed #999;
    border-radius: 5px;
    background-color: #f0f8ff;
    display: flex;
    text-align: center;
    color: #333;
    position: relative;
    justify-content: space-around;

  &.drag-over {
    border-color: #999999;
    background-color: #ffffff;
  }

  .image {
    display: none;
    input[type="file"] {
      display: none; 
    }
  }

  .icon {
    p {
      cursor: pointer;
      margin-bottom: 10px;
      position: relative;
      top: 90px;
    }

    mat-icon{
      position: relative;
      top: 90px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      font-size: 30px;

    }

    .btn {
      background-color: transparent; 
      border: none;
      cursor: pointer;
      padding: 10px;
      border-radius: 50%; 
      
    }
  }

  .image-1 {
    position: relative;

    .image-uploaded {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    }

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      padding: 5px;
    }
  }
}
.upload-image .error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}