.show-dialog {
  display: flex;
  font-family: "Koh Santepheap", serif;
  font-size: 20px;
  color: #007dd9;
  gap: 10px;
  padding-top: 15px;
  justify-content: space-between;
  padding-inline: 15px;
  align-items: baseline;
}

.alert-showdialog {
  padding-top: 10px;
  gap: 15px;
  display: flex;
  justify-content: flex-end;
}

.close-dialog {
  border-radius: 15px;
  height: 30px;
  width: 30px;
  font-size: 15px;
  padding: 10px;
  color: #ffffff;
  background-color: #e8e8e9;
  border: solid 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex
;
  flex-direction: column;
  align-items: center;
  .mat-icon {
    fill: currentColor;
    color: #8b8b8b;
    height: 15px;
    width: 15px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.close-dialog:hover {
  background-color: #c4c4c4d4;
}

::ng-deep .cdk-overlay-backdrop-showing {
  opacity: 1;
  position: fixed;
}

::ng-deep.mat-mdc-tab-labels {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-evenly;
}

.mat-mdc-card-title-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row-reverse;
}

.search-box{
  font-family: "Koh Santepheap", serif;
  width: 330px;
  height: 35px;
  border-radius: 15px;
  border-color: #ffffff;
  background-color: #dddddda1;
  font-size: 15px;
  border: solid 0px;
  padding-inline: 15px;
  // width: 290px;
  // height: 30px;
  // border-radius: 15px;
  // border-color: #1a73e8;
  // font-size: 15px
}

.search-icon{
  width: 30px;
    height: 30px;
    border: solid 0px;
    font-size: 15px;
    border-radius: 50px;
    color: #757584;
    background-color: #eaeaea;
    cursor: pointer;
    top: 60px;
    left: 290px;
    position: absolute;
}

.search-icon:hover{
  color: #1585f5;
  }
.clear-icon{
  width: 30px;
    height: 30px;
    border: solid 0px;
    font-size: 15px;
    border-radius: 50px;
    color: #757584;
    background-color: #e8e8e9;
    cursor: pointer;
    top: 60px;
    left: 290px;
    position: absolute;
}

.clear-icon:hover{
  color: #9b1616;
}

.listing {
  font-family: "Koh Santepheap", serif;
  display: flex;
  border: solid 1px rgba(201, 200, 200, 0.8588235294);
  padding-top: 5px;
  padding-bottom: 0px;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 200px);
  width: 100%;
  .customer_info {
    cursor: pointer;
    &.active {
      color: #000000;
      background-color: #bbddff;
    }
  }
  .customer_info:hover {
    background-color: #bbddff;
  }
}

.listing_info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.customer_info {
  // background-image: url('https://i.pinimg.com/originals/7b/34/d3/7b34d33a578812832573513ae9909cba.png');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  display: flex
  ;
      gap: 15px;
      border: solid 1px rgba(185, 185, 185, 0.6);
      padding-bottom: 25px;
      padding-top: 30px;
      font-size: 18px;
      padding-inline: 30px;
      flex-direction: row;
}
.profile-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::ng-deep.mat-mdc-dialog-surface {
  border-radius: 8px !important;
  margin-top: 35px;
  height: 89%;
  width: 200%
}

.full_name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.phone_number {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gender {
  display: flex;
  align-items: center;
  gap: 5px;
}

.id_card {
  display: flex;
  align-items: center;
  gap: 5px;
}
