

<div class="main-wrapper">
  <div class="dashboard">
    <nav class="nav-search">
        <input class="search-box" type="text" placeholder="Search Form Data" name="q">
        <button class="search-icon" type="submit"> Search</button>
      </nav>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="First">
            <app-pawncard [childInput]="testItems()"></app-pawncard>
        </mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
      </mat-tab-group>
</div>

<div class="create-form"> 
  <app-pawn-form></app-pawn-form>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
</div>