<div class="dashboard-monthly-report">
  <mat-tab-nav-panel>
    <div class="listing-monthly-report">
      <div class="sidebar">
        <ul class="sidebar-title">
          <div class="title-report-sidebar">
            <h2 class="h2-style">ទិន្នន័យវត្ថុបញ្ចាំ​</h2>
          </div>
          <br />
          <li>
            <a
              routerLink="/home/category/list-category"
              routerLinkActive="active"
            >
              <mat-icon>vertical_split</mat-icon>List Category
            </a>
          </li>
          <!-- <li>
            <a
              routerLink="/home/category/create-category"
              routerLinkActive="active"
            >
              <mat-icon>art_track</mat-icon>Create New Category
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </mat-tab-nav-panel>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
