@if(childInput?.length){
<div class="pawncard-sidebar">
  <img
    class="image-card"
    src="assets/images/customer-image.jpg"
    alt="Profile Image"
  />

 <div class="card-info-sidebar">
  លេខសម្គាល់: {{childInput?.[0]?.id}}
  <br>
  <br>
  ឈ្មោះ: {{childInput?.[0]?.name}}
  <br>
  <br>
  ភេទ: {{childInput?.[0]?.gender}}
  <br>
  <br>
  លេខទូរសព្ទ: {{childInput?.[0]?.phone}}
  <br>
  <br>
  វត្ថុបញ្ចាំ: {{childInput?.[0]?.item}}
  <br>
  <br>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="deleteCard()">
      <mat-icon>delete_forever</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</div>
</div>
}@else {
<p>No data display</p>
}
