::ng-deep .custom-dialog .mdc-dialog--open .mat-mdc-dialog-surface, .mdc-dialog--closing .mat-mdc-dialog-surface{
    padding: 50px;
    border-radius: 5px;
    font-size: 20px;
    color: #1a73e8;
    border: solid 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.alert-signout{
    padding-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    border-top: solid 1px;
}

.cancel-btn{
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    color: #1a73e8;
    background-color: white;
    border: solid 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.yes-btn{
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    color: crimson;
    background-color: white;
    border: solid 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}