<div class="main-wrapper">
  <form>
    <div class="dashboard-monthly-picker">
      <mat-tab-nav-panel>
        <div class="listing-monthly-picker">
          <div>
            <h2 class="h2-style">ជ្រើសរើសថ្ងៃខែឆ្នាំ</h2>
            <div class="date-picker-range">
              <div class="date-start">
                <mat-form-field appearance="outline">
                  <mat-label>Start Date</mat-label>
                  <input
                    matInput
                    [formControl]="dateRange.controls['start']"
                    [matDatepicker]="startDatePicker"
                    placeholder="Start Date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="date-end">
                <mat-form-field appearance="outline">
                  <mat-label>End Date</mat-label>
                  <input
                    matInput
                    [formControl]="dateRange.controls['end']"
                    [matDatepicker]="endDatePicker"
                    placeholder="End Date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="filter-all-time">
              <button
                mat-button
                type="button"
                (click)="onFilterChange(null, 'all')"
                [ngClass]="{ 'active-filter': selectedFilter === 'all' }"
              >
                All Time
              </button>
              <button
                mat-button
                type="button"
                (click)="onFilterChange(null, 'today')"
                [ngClass]="{ 'active-filter': selectedFilter === 'today' }"
              >
                Today
              </button>
              <!-- <button
                mat-button
                type="button"
                (click)="onFilterChange(null, 'yesterday')"
                [ngClass]="{
                  'active-filter': selectedFilter === 'yesterday'
                }"
              >
                Yesterday
              </button> -->
              <button
                mat-button
                type="button"
                (click)="onFilterChange(null, 'thisMonth')"
                [ngClass]="{
                  'active-filter': selectedFilter === 'thisMonth'
                }"
              >
                This Month
              </button>
              <button
                mat-button
                type="button"
                (click)="onFilterChange(null, 'thisYear')"
                [ngClass]="{ 'active-filter': selectedFilter === 'thisYear' }"
              >
                This Year
              </button>
            </div>
          </div>

          <div class="filter-container">
            <div class="filter-buttons">
              <div class="date-filter-btn">
                <button
                  mat-button
                  type="button"
                  (click)="applyDateFilter()"
                  [ngClass]="{
                    'active-filter': selectedFilter === 'dateRange'
                  }"
                  [disabled]="dateRange.controls['end'].value === null"
                >
                  Apply Filter
                </button>
                <button mat-button type="button" (click)="resetFilters()">
                  Reset Filter
                </button>
                <button
                  mat-button
                  type="button"
                  [useExistingCss]="true"
                  mat-button
                  color="primary"
                  printSectionId="print-report"
                  ngxPrint
                >
                  <mat-icon>local_printshop</mat-icon> Print
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab-nav-panel>
    </div>
  </form>

  <div id="print-report">
    <form>
      <div class=".dashboard-table">
        <mat-tab-nav-panel>
          <div class="listing-table">
            <div class="report-table">
              <div class="report-monthly"></div>
              <h2 class="report-title">{{ reportTitle }}</h2>
              <div class="pawn-table-container">
                <table class="pawn-table">
                  <thead>
                    <tr class="table-hight">
                      <th>
                        <h3>គោត្តនាម និងនាម</h3>
                      </th>
                      <th>
                        <h3>ភេទ</h3>
                      </th>
                      <th>
                        <h3>លេខទូរសព្ទ</h3>
                      </th>
                      <th>
                        <h3>អាស័យដ្ថាន</h3>
                      </th>
                      <th>
                        <h3>វត្ថុបញ្ចាំ</h3>
                      </th>
                      <th>
                        <h3>តម្លៃវត្ថុបញ្ចាំ</h3>
                      </th>
                      <th>
                        <h3>តម្លៃការប្រាក់</h3>
                      </th>
                      <th>
                        <h3>ថ្ងៃបង្កើត</h3>
                      </th>
                      <th>
                        <h3>ថ្ងៃផុតកំណត់</h3>
                      </th>
                      <th>
                        <h3>ចំនួនដង បញ្ចាំ</h3>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of paginatedData; track item.full_name) {
                    <tr (click)="openModal(item)">
                      <td>
                        <span class="click-name"> {{ item.full_name }}</span>
                      </td>
                      <td>
                        @if (item.gender && typeof item.gender === 'object' &&
                        item.gender !== null) {
                        {{ item.gender.text }}
                        } @else {
                        {{ item.gender }}
                        }
                      </td>
                      <td>{{ item.phone_number }}</td>
                      <td>{{ item.address }}</td>
                      <td>
                        @if (item.pawn_type && typeof item.pawn_type ===
                        'object' && item.pawn_type !== null) { @if
                        (item.pawn_type.name) {
                        {{ item.pawn_type.name }}
                        } @else if (item.pawn_type.text) {
                        {{ item.pawn_type.text }}
                        } } @else {
                        {{ item.pawn_type }}
                        }
                      </td>
                      <td>
                        {{
                          item.price_pawn
                            | currency : "USD" : "symbol" : "1.2-2"
                        }}
                      </td>
                      <td>
                        {{
                          item.price_interest
                            | currency : "USD" : "symbol" : "1.2-2"
                        }}
                      </td>
                      <td>
                        {{ formatDate(item.created_at) | date : "dd/MM/yy" }}
                      </td>
                      <td>
                        {{ formatDate(item.date_expired) | date : "dd/MM/yy" }}
                      </td>
                      <td>
                        {{ item.pawnCount }}
                      </td>
                    </tr>
                    } @empty {
                    <tr>
                      <td colspan="10">No data to display.</td>
                    </tr>
                    }
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="5">
                        <h3>តម្លៃសរុប</h3>
                      </td>
                      <td>
                        {{
                          totalPawnPrice | currency : "USD" : "symbol" : "1.2-2"
                        }}
                      </td>
                      <td>
                        {{
                          totalInterestPrice
                            | currency : "USD" : "symbol" : "1.2-2"
                        }}
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <mat-paginator
                [length]="filteredData.length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)"
                showFirstLastButtons
              >
              </mat-paginator>
            </div>
          </div>
        </mat-tab-nav-panel>
      </div>
    </form>
  </div>
</div>
