
@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.tabs-overrides((
    active-indicator-color: orange,
    divider-color: red,
  ));
}
.main-wrapper{
  font-family: "Koh Santepheap", serif;
display: flex;
}

.dashboard{
  font-family: "Koh Santepheap", serif;
    height: auto;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 5px;
    border-radius: 8px; 
    .nav-search {
      font-family: "Koh Santepheap", serif;
      display: flex;
        justify-content: flex-start;
        padding: 10px;
        background-color: #ffffff;
        border-bottom: solid 0;
        height: 60px;
        gap: 6px;
        
  
      }
}

.search-box{
  font-family: "Koh Santepheap", serif;
  width: 330px;
  height: 35px;
  border-radius: 15px;
  border-color: #ffffff;
  background-color: #dddddda1;
  font-size: 15px;
  border: solid 0px;
  padding-inline: 15px;
  // width: 290px;
  // height: 30px;
  // border-radius: 15px;
  // border-color: #1a73e8;
  // font-size: 15px
}

.search-icon{
  width: 30px;
  height: 30px;
  border: solid 0px;
  font-size: 15px;
  border-radius: 50px;
  color: #757584;
  background-color: #e6e6e6;
  cursor: pointer;
  top: 100px;
  left: 300px;
  position: absolute;
}

.search-icon:hover{
  color: #1585f5;
  }


.menu-bar{
  font-family: "Koh Santepheap", serif;
  width: 35px;
  display: flex;
  justify-self: end;
  justify-content: space-around;
  height: 30px;
  font-size: 25px;
  border-color: #74C0FC;
  cursor: pointer;
  border-radius: 6px;
  margin: 5px;
  i{
    color: #000;
  }
}

.list-tabs{
  font-family: "Koh Santepheap", serif;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}

.content{
  display: flex;
  justify-content: center;
  margin: 0 auto;

}
.create-form{
  width: 100%;
}

.btn-create-form{
  display: flex;
    margin: 0px auto;
    border: solid 0px;
    justify-content: space-around;
    
}

.btn-add-more{
  background-color: #007bff;
  width: 140px;
}
.btn-check-customer{
  background-color: #36b38f;
  color: #fff !important;
  width: 140px;
}


// .link-header{
//   display: flex;
//       gap: 15px;
//       margin-top: 10px;
//       justify-content: center;
//   li{
//     list-style: none;
//     a{
//       font-family: "Koh Santepheap", serif;
//       display: flex;
//       font-size: 15px;
//       text-decoration: none;
//       color: #000;
//       flex-direction: column;
//       align-items: center;
//       position: relative;
//       transition: all 0.3s;
//       &.active{
//         color: #1A73E8;
//         .line{
//           width: 100%;
//           position: absolute;
//           bottom: -18px;
//           border-radius: 5px;
//           border: 2px solid #1A73E8;
//         }
//       }
//     }
//   }
// }
::ng-deep.mat-mdc-tab-labels {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-evenly;
  
}

.mat-mdc-card-title-group {
  display: flex
;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row-reverse;
}

.listing{
  font-family: "Koh Santepheap", serif;
  display: flex;
  border: solid 1px rgba(201, 200, 200, 0.8588235294);
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 235px);
    .customer_info{
        background-color: #b1ebf94d;
        cursor: pointer;
        &.active{
          color: #000000;
          background-color: #bbddff;
        }
    }
 
    .customer_info:hover{
        background-color: #bbddff
    }
  }

.listing_info{
  display: flex;
    flex-direction: column;
    gap: 3px;
}

.customer_info{
  display: flex;
    gap: 10px;
    border: solid 1px rgba(185, 185, 185, 0.6);
    padding-bottom: 25px;
    padding-top: 20px;
    // background-image: url('https://i.pinimg.com/originals/7b/34/d3/7b34d33a578812832573513ae9909cba.png');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    align-items: center;
}
.profile-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}