<header class="header">
  <div class="header-title">
    <div>
      <img
        class="logo-header"
        src="assets/images/pawn-logo.jpg"
        alt="Profile Image"
      />
    </div>
    <h3></h3>
  </div>
  <div class="link-header">
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <mat-icon> import_contacts</mat-icon>
        បញ្ជីបញ្ចាំ
        <div class="line"></div>
      </a>
    </li>
    <li>
      <a routerLink="/report" routerLinkActive="active">
        <mat-icon>receipt</mat-icon>របាយការណ៍
        <div class="line"></div>
        
        </a
      >
    </li>
  </div>
  <div>
    <div
      class="profile-img"
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <img src="assets/images/one-punch.jpg" alt="Profile Icon" />
    </div>
    <mat-menu #menu="matMenu">
      <div class="profile-container">
        <div class="profile-content">
          <div class="profile-image">
            <img src="assets/images/one-punch.jpg" alt="Profile Image" />
          </div>
          <div class="profile-details">
            <div class="profile-name">VisBear</div>
            <button class="button-signout" (click)="signOut()">Sign Out</button>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
</header>
