.header{
    display: flex;
    height: 80px;
        width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        align-items: center;
        justify-content: space-between;
        padding-inline: 30px;
        font-family: sans-serif;
}


.header-title{
    display: flex;
    align-items: center;
    font-size: 20px
    
}

.link-header{
  display: flex;
  gap: 35px;
  li{
    list-style: none;
    a{
      display: flex;
      font-size: 15px;
      text-decoration: none;
      color: #000;
      flex-direction: column;
      align-items: center;
      position: relative;
      transition: all 0.3s;
      &.active{
        color: #1A73E8;
        .line{
          width: 100%;
          position: absolute;
          bottom: -18px;
          border-radius: 5px;
          border: 2px solid #1A73E8;
        }
      }
    }
  }
}

.profile-img{
  height: 50px;
  width: 50px;
  cursor: pointer;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.logo-header{
  width: 60px;
  height: 60px;
  position: relative;
  top: 5px;
  border-radius: 12px;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
}

.profile-container {
    border: 0px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 270px;
    font-family: sans-serif;
  }

  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .demo-section + .demo-section {
    margin-top: 16px;
  }
  
  .btn-signout{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .profile-details {
    text-align: center;

  }

  .button-signout{
    border-radius: 5px;
    font-size: 15px;
    width: 90px;
    padding: 6px;
    color: #e81a1a;
    background-color: white;
    border: solid 1px #65656545;
    cursor: pointer;
  }

 
  
  .button-signout:hover{
    color: white;
    background-color:#ed5858;
    transition: 0.3s;
  }

  .mat-mdc-icon-button img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    position: relative;
    top: -6px;
    left: -8px;
    
  }
  .profile-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .profile-location {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .profile-bio {
    font-size: 14px;
  }
  .mat-tab-group {
    margin-bottom: 48px;
  }
  

.mat-mdc-icon-button .mat-mdc-button-ripple{
  top: 0px;
    left: 0px;
    right: -8px;
    bottom: -8px;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}

::ng-deep .mat-mdc-menu-panel {
  background: #fff !important;
}
::ng-deep .cdk-overlay-container{
  pointer-events: none;
    top: 16px !important;
    left: 30px !important;
    height: 100%;
    width: 100% 
}
