<header class="header">
  <div class="header-title">
    <div>
      <img
        class="logo-header"
        src="assets/images/fast-cash-image.jpg"
        alt="Profile Image"
      />
    </div>
    <h3>ហាងបញ្ចាំ Fast-Cash</h3>
  </div>
  <div class="link-header">
    <li>
      <a
        routerLink="/home"
        [ngClass]="{
          active:
            isActive('/home') &&
            !isActive('/home/report') &&
            !isActive('/home/category')
        }"
      >
        <mat-icon>import_contacts</mat-icon>
        បញ្ជីបញ្ចាំ
        <div class="line"></div>
      </a>
    </li>
    <li>
      <a
        routerLink="/home/report/data-customer"
        [ngClass]="{ active: isActive('/home/report') }"
      >
        <mat-icon>list_alt</mat-icon>
        របាយការណ៍
        <div class="line"></div>
      </a>
    </li>
    <li>
      <a
        routerLink="/home/category/list-category"
        [ngClass]="{ active: isActive('/home/category') }"
      >
        <mat-icon>queue_play_next</mat-icon>
        បង្កើតទិន្នន័យវត្ថុបញ្ចាំ
        <div class="line"></div>
      </a>
    </li>
  </div>
  <div>
    <div class="notification-badge">
      <button mat-icon-button (click)="showExpiredItems()">
        <mat-icon
          matBadge="{{ store.expiredPawnCount() }}"
          matBadgeColor="warn"
          [matBadgeShowZero]="true"
          >notifications_active</mat-icon
        >
      </button>

      <div
        class="profile-img"
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <img
          [src]="auth.profile?.photoFile || 'assets/images/Admin-Pic.jpg'"
          alt="Profile Icon"
        />
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <div class="profile-container">
        <div class="profile-content">
          <div class="profile-image">
            <img
              [src]="auth.profile?.photoFile || 'assets/images/Admin-Pic.jpg'"
              alt="Profile Icon"
            />
          </div>
          <div class="profile-details">
            <div class="profile-name">{{ auth.profile?.displayName }}</div>
            <button class="button-signout" (click)="signOut()">Sign Out</button>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
</header>