<header class="header">
  <div class="header-title">
    <div>
      <img class="logo-header" src="assets/images/pawn-logo.jpg" alt="Profile Image" />
    </div>
    <h3>ហាង បញ្ចាំ</h3>
  </div>
  <div class="link-header">
    <li>
      <a
        routerLink="/home"
        [ngClass]="{
          active: isActive('/home') && !isActive('/home/report')
        }"
      >
        <mat-icon>import_contacts</mat-icon>
        បញ្ជីបញ្ចាំ
        <div class="line"></div>
      </a>
    </li>
  
    <li>
      <a
        routerLink="/home/report/data-customer"
        [ngClass]="{ active: isActive('/home/report') }"
      >
        <mat-icon>list_alt</mat-icon>
        របាយការណ៍
        <div class="line"></div>
      </a>
    </li>
  </div>
  
  
  <div>
    <div class="notification-badge">
      <!-- <mat-icon matBadge="{{ unreadNotificationCount() }}">notifications_active</mat-icon> -->
      <div class="profile-img" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <img [src]="auth.profile?.photoFile || 'assets/images/Admin-Pic.jpg'" alt="Profile Icon" />
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <div class="profile-container">
        <div class="profile-content">
          <div class="profile-image">
            <img [src]="auth.profile?.photoFile || 'assets/images/Admin-Pic.jpg'" alt="Profile Icon" />
          </div>
          <div class="profile-details">
            <div class="profile-name">{{ auth.profile?.displayName }}</div>
            <button class="button-signout" (click)="signOut()">Sign Out</button>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
</header>
