<div class="dashboard-monthly-report">
  <mat-tab-nav-panel>
    <div class="listing-monthly-report">
      <div class="sidebar">
        <ul class="sidebar-title">
          <div class="title-report-sidebar">
            <h2 class="h2-style">របាយការណ៍​</h2>
          </div>
          <br />
          <li>
            <a
              routerLink="/home/report/data-customer"
              routerLinkActive="active"
            >
              <mat-icon>recent_actors</mat-icon>របាយការណ៍​ប្រចាំ​ថ្ងៃ
            </a>
          </li>
          <li>
            <a
              routerLink="/home/report/data-expired-customer"
              routerLinkActive="active"
            >
              <mat-icon>contacts</mat-icon>​របាយការណ៍​អ្នក​ផុតកំណត់
            </a>
          </li>
        </ul>
      </div>
    </div>
  </mat-tab-nav-panel>

  <div class="content">
    <div class="loading-container" *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p>Loading...</p>
    </div>
    <div *ngIf="!isLoading" class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
